@model Models.ViewModel.BasicInput.SlidersVm
    <script src="~/js/ckeditor/ckeditor.js"></script>
    <script src="~/js/ckeditor/build-config.js"></script>
    <script src="~/js/ckeditor/styles.js"></script>
    <script src="~/js/ckeditor/config.js"></script>
    <form asp-action="Create" asp-controller="SliderImage2" method="post" id="ModelForm">
        @Html.AntiForgeryToken()


        <div class=" bs-example-modal-lg modal-dialog modal-lg" tabindex="-1">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                    <h4 class="modal-title">@GlobalRes.SliderImage2</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-6">
                            <input asp-for="Id" hidden />
                            <input asp-for="Type" value="2" hidden />
                            <input asp-for="Image" hidden />

                            <label asp-for="DescAr" class="control-label"></label>
                            <textarea asp-for="DescAr" class="form-control"></textarea>
                        </div>
                        <div class="col-6">
                            <label asp-for="DescEn" class="control-label"></label>
                            <textarea asp-for="DescEn" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 ">
                            <label asp-for="Image" class="control-label"></label>

                            <input type="file" name="Image" id="Image" />
                            <br />

                            @if (!string.IsNullOrEmpty(Model.Image))
                            {
                                <img style="width: 200px;height: 100px;" src="~/@(Model.Image)">
                                <a target="_blank" class="fa fa-download" href="~/@(Model.Image)"></a>
                            }
                        </div>


                    </div>

                </div>
                <div class="modal-footer justify-content-end">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">@GlobalRes.btnCancel</button>
                    <button type="button" class="btn btn-primary " onclick="Save()">@GlobalRes.btnSave</button>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </form>
    <script type="text/javascript">
        CKEDITOR.replace('DescAr');
        CKEDITOR.replace('DescEn');
    </script>

