


@font-face {
    font-family: 'Myriad Pro';
    src: url('../../fontMyriadPro-Bold.woff2') format('woff2'),
        url('../../fontMyriadPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../../fontMyriadPro-BoldCond.woff2') format('woff2'),
        url('../../fontMyriadPro-BoldCond.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../../fontMyriadPro-BoldCondIt.woff2') format('woff2'),
        url('../../fontMyriadPro-BoldCondIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../../fontMyriadPro-BoldIt.woff2') format('woff2'),
        url('../../fontMyriadPro-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../../fontMyriadPro-CondIt.woff2') format('woff2'),
        url('../../fontMyriadPro-CondIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../../fontMyriadPro-Cond.woff2') format('woff2'),
        url('../../fontMyriadPro-Cond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../../fontMyriadPro-Light.woff2') format('woff2'),
        url('../../fontMyriadPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../../fontMyriadPro-Regular.woff2') format('woff2'),
        url('../../fontMyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../../fontMyriadPro-Semibold.woff2') format('woff2'),
        url('../../fontMyriadPro-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../../fontMyriadPro-SemiboldIt.woff2') format('woff2'),
        url('../../fontMyriadPro-SemiboldIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

